 <ion-header  *ngIf="loggedIn == true">
  <ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button fill="solid">
      <ion-icon slot="start" name="person-circle"></ion-icon>
      {{ user.bp_id }}
    </ion-button>
  </ion-buttons>
  <ion-title><img src="/assets/shurokkha-logo.png" class="padding"></ion-title>
  <ion-buttons slot="primary">
    <ion-button fill="solid" color="secondary">
      Logout
      <ion-icon slot="end" name="log-in" (click)="loggedOut()"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <div id="login-form" *ngIf="loggedIn == false">
    <div class="center padding2">
      <img src="/assets/shurokkha-logo.png" class="padding">
      <h4>Shurokkha App - Login</h4>
    </div>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="user.bp_id" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
    <ion-button id="login" type="submit" color="primary" expand="block" (click)="checkLogin()">Login</ion-button>
  </div>
  <div id="register-form" *ngIf="loggedIn == true">
    <div class="center padding2">
      <h4>Shurokkha App - Contact Submission</h4>
    </div>
      <ion-item>
        <ion-label position="floating"><span class="red">*</span> Name</ion-label>
        <ion-input [(ngModel)]="user_info.name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><span class="red">*</span> Mobile</ion-label>
        <ion-input [(ngModel)]="user_info.mobile" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><span class="red">*</span> OTP</ion-label>
        <ion-input [(ngModel)]="user_info.otp" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button slot="end" (click)="requestOTP()">Request OTP</ion-button>
      </ion-item>
      <ion-text *ngIf="error.length > 0">{{ error }}</ion-text>
      <ion-button type="submit" color="primary" expand="block" (click)="checkRegistration()">Submit</ion-button>
  </div>
</ion-content>