<ion-content>
  <div id="login-form">
    <div class="center padding2">
      <img src="/assets/exp-logo.png" class="padding">
      <h4>Workforce</h4>
    </div>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="user.bp_id" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
    <ion-button id="login" type="submit" color="primary" expand="block" (click)="checkLogin()">Login</ion-button>
  </div>
</ion-content>
