#closeicon{
	position: absolute;
    right: 15px;
    width: 50px;
    height: 30px;
    display: block;
    border: 1px solid white;
    top: 0;
    border-radius: 2rem;
}

#success{
    margin-top: 15vh;
}