<ion-header>
  <ion-toolbar>
    <ion-title>Registration Confirmation <ion-icon id="closeicon" end name="close" (click)="dismiss()"></ion-icon></ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" id="success">
    <div class="center padding2">
      <img src="/assets/exp-logo.png" class="padding">
      <h4>Workforce</h4>
    </div>
    <p>Registration Successfull</p>
    <h3>Your Login ID</h3>
    <h1 color="primary">{{ bp_id }}</h1>
  </div>
</ion-content>